apiVersion: v1
kind: ServiceAccount
metadata:
  name: edge-service
automountServiceAccountToken: false
---
apiVersion: v1
kind: Service
metadata:
  name: edge-service
spec:
  selector:
    app: edge-service
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: edge-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: edge-service
  template:
    metadata:
      labels:
        app: edge-service
    spec:
      serviceAccountName: edge-service
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
        runAsGroup: 10001
        fsGroup: 10001
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: edge-service
          image: ghcr.io/REPLACE_ME/us-payroll-platform/edge-service:REPLACE_TAG
          imagePullPolicy: IfNotPresent
          env:
            - name: SERVER_PORT
              value: "8080"
            - name: WORKER_BASE_URL
              value: http://billing-worker-service:8088
            - name: EDGE_AUTH_MODE
              value: OIDC
            - name: EDGE_AUTH_ALLOW_DISABLED
              value: "false"
            - name: EDGE_AUTH_ISSUER_URI
              valueFrom:
                secretKeyRef:
                  name: edge-auth
                  key: issuer-uri
            - name: EDGE_AUTH_JWK_SET_URI
              valueFrom:
                secretKeyRef:
                  name: edge-auth
                  key: jwk-set-uri
          ports:
            - containerPort: 8080
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
          volumeMounts:
            - name: tmp
              mountPath: /tmp
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
      volumes:
        - name: tmp
          emptyDir: {}
