apiVersion: v1
kind: ServiceAccount
metadata:
  name: labor-service
automountServiceAccountToken: false
---
apiVersion: v1
kind: Service
metadata:
  name: labor-service
spec:
  selector:
    app: labor-service
  ports:
    - name: http
      port: 8083
      targetPort: 8083
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: labor-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: labor-service
  template:
    metadata:
      labels:
        app: labor-service
    spec:
      serviceAccountName: labor-service
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
        runAsGroup: 10001
        fsGroup: 10001
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: labor-service
          image: ghcr.io/REPLACE_ME/us-payroll-platform/labor-service:REPLACE_TAG
          imagePullPolicy: IfNotPresent
          env:
            - name: SERVER_PORT
              value: "8083"
            - name: LABOR_DB_URL
              valueFrom:
                secretKeyRef:
                  name: labor-db
                  key: jdbc-url
            - name: LABOR_DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: labor-db
                  key: username
            - name: LABOR_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: labor-db
                  key: password
          ports:
            - containerPort: 8083
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
          volumeMounts:
            - name: tmp
              mountPath: /tmp
          startupProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8083
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 60
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8083
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 12
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8083
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
      volumes:
        - name: tmp
          emptyDir: {}
