apiVersion: v1
kind: Service
metadata:
  name: hr-service
  namespace: us-payroll
spec:
  selector:
    app: hr-service
  ports:
    - name: http
      port: 8081
      targetPort: 8081
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hr-service
  namespace: us-payroll
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hr-service
  template:
    metadata:
      labels:
        app: hr-service
    spec:
      containers:
        - name: hr-service
          image: ghcr.io/REPLACE_ME/us-payroll-platform/hr-service:REPLACE_TAG
          env:
            - name: SERVER_PORT
              value: "8081"
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgres:5432/us_payroll_hr
            - name: SPRING_DATASOURCE_USERNAME
              value: hr_service
            - name: SPRING_DATASOURCE_PASSWORD
              value: hr_service
          ports:
            - containerPort: 8081
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8081
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8081
            initialDelaySeconds: 30
            periodSeconds: 10
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
