server:
  port: ${SERVER_PORT:8086}

spring:
  application:
    name: payroll-orchestrator-service
  flyway:
    enabled: true
    locations: classpath:db/migration/orchestrator

management:
  endpoint:
    health:
      probes:
        enabled: true
  tracing:
    sampling:
      probability: ${TRACING_SAMPLING_PROBABILITY:0.1}
  otlp:
    tracing:
      endpoint: ${OTEL_EXPORTER_OTLP_ENDPOINT:http://localhost:4318/v1/traces}
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
