server:
  port: ${SERVER_PORT:8081}

spring:
  flyway:
    enabled: true
    locations: classpath:db/migration/hr

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
