build:
  maxIssues: 0

config:
  validation: true

style:
  MagicNumber:
    active: false
  ReturnCount:
    active: false
  MaxLineLength:
    active: false

complexity:
  TooManyFunctions:
    active: false
  LongMethod:
    active: false
  LongParameterList:
    active: false
  CyclomaticComplexMethod:
    active: false
  NestedBlockDepth:
    active: false

naming:
  FunctionNaming:
    active: true
  VariableNaming:
    active: true
